.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    margin-bottom: 5px;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
    box-shadow: 5px 3px 3px #000;
    font-weight: 900;
    text-shadow: 2px 1px 1px #000;
}

.button.blue{
    background-color: #1FB6FF;
}

button.green{
    background-color: #357266;
}

button.red{
    background-color: #FF4949;
}

.button:hover{
    box-shadow: inset 300px 0 0 #00000055;
}

#cadastrarCliente{
    width: 48%;
    margin: 4px;
}

#edit, #del{
    width: 38%;
    height: 40px;
    font-size: 1.2em;
    margin: 3px;
}



@media(max-width:913px){

    .button.mobile{
        width: 100%;
    }

    .button:hover{
        box-shadow: inset 385px 0 0 #00000055;
    }

    #edit, #del{
        width: 48%;
        height: 40px;
        font-size: 1.2em;
        margin: 2px;
    }

    #cadastrarCliente{
        width: 100%;
        margin: 0;
    }
}

