*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1c1d21;
    font-family: sans-serif;
}

#header{
    background-color: #357266;
    height: 70px;
    text-align: center;
    box-shadow: 0 1px 2px #ccc;
    padding-bottom: 20px;
    padding: 15px;
}

.header-title{
    color: #fff;
    font-size: 2rem;
    text-shadow: 3px 2px 2px #000;
}

@media (max-width: 480px){

    .header-title{
        font-size: 1.3em;
    }
}

   
